<CoinsConfiguration>
	<!-- CryptoNight -->
	<cryptoСoins>
		<cryptoСoin name="Electroneum" usePow="0" blocktime="60" algorithm="CryptoNight" blockreward="6440">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://blockexplorer.electroneum.com/"/>
					<add key="difficultyRegex" value="(?&lt;=Network difficulty: )(.*)(?=[ \n\r])"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="electroneum"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Graft" usePow="0" blocktime="120" algorithm="CryptoNight" blockreward="1727">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://blockexplorer.graft.network/"/>
					<add key="difficultyRegex" value="(?&lt;=Network difficulty: )([0-9.]*)(?=[\n\r])"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="graft"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>
		<cryptoСoin name="Ultranote" usePow="0" blocktime="120" algorithm="CryptoNight" blockreward="150">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://seed4.ultranote.org:31000/getinfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.WorldCoinIndexExRateGetter, Crypto.Exchange">
				<params>
					<add key="fiat" value="xun"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!-- DaggerHashimoto -->

		<cryptoСoin name="Ethereum" usePow="0" blocktime="14.3" algorithm="DaggerHashimoto" blockreward="3">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://www.etherchain.org/api/difficulty"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:&quot;)(.*)(?=&quot;)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="ethereum"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="whaleCoin" usePow="0" blocktime="25" algorithm="DaggerHashimoto" blockreward="3.06">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.whalecoin.org/api/network/difficulty"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)(.*)(?=\})"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="whalecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Expanse" usePow="0" blocktime="43" algorithm="DaggerHashimoto" blockreward="4">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://165.227.124.39:8080/block/latest?"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="expanse"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--траблы с диффикултом-->
		<!--<cryptoСoin name="PIRL" usePow="0" blocktime="14" algorithm="DaggerHashimoto" blockreward="7.5">
				<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
					<params>
						<add key="difficultyUrl" value="https://poseidon.pirl.io/explorer/"/>
						<add key="difficultyRegex" value="(?&lt;=&quot;block_difficulty&quot;&gt;)([0-9.]*)"/>
					</params>
				</explorerConfig>
				<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
					<params>
						<add key="CryptoName" value="pirl"/>
					</params>
				</exchangeGetterConfig>
			</cryptoСoin>-->

		<!--<cryptoСoin name="Desire" usePow="0" blocktime="150" algorithm="DaggerHashimoto" blockreward="17.6">
				<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
					<params>
						<add key="difficultyUrl" value="http://desire.lchain.cc/api/getdifficulty"/>
						<add key="difficultyRegex" value=".*"/>
					</params>
				</explorerConfig>
				<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
					<params>
						<add key="CryptoName" value="pirl"/>
					</params>
				</exchangeGetterConfig>
			</cryptoСoin>-->

		<!--Decred-->

		<cryptoСoin name="Decred" usePow="32" blocktime="308" algorithm="Decred" blockreward="12.95259894828279">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://mainnet.decred.org/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="decred"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.work" password="22" hostname="dcr.suprnova.cc" port="2255"/>
		</cryptoСoin>

		<!--Equihash-->

		<cryptoСoin name="bitcoinz" usePow="13" blocktime="150" algorithm="Equihash" blockreward="12500">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.bitcoinz.site/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)(.*)(?=,&quot;t)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="bitcoinz"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Votecoin" usePow="9" blocktime="150" algorithm="Equihash" blockreward="125">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.votecoin.site/insight-api-zcash/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)(.*)(?=,&quot;t)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="votecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="btcprivate" usePow="13" blocktime="150" algorithm="Equihash" blockreward="1.56">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.btcprivate.org/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="bitcoin-private"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Komodo" usePow="4" blocktime="60" algorithm="Equihash" blockreward="3">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://kmd.komodochainz.info/ext/summary"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="komodo"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="hushcoin" usePow="1" blocktime="156" algorithm="Equihash" blockreward="12.5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.myhush.org/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="hush"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

	

		<cryptoСoin name="ZenCash" usePow="13" blocktime="158" algorithm="Equihash" blockreward="11">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.zensystem.io/insight-api-zen/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="zencash"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="ZCash" usePow="17" blocktime="160" algorithm="Equihash" blockreward="10">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://api.zcha.in/v2/mainnet/network"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="zcash"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="BitcoinGold" usePow="13" blocktime="566" algorithm="Equihash" blockreward="12.5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://btgexp.com/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="bitcoin-gold"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--Keccak-->

		<cryptoСoin name="SmartCash" usePow="32" blocktime="55" algorithm="Keccak" blockreward="94.92825144145408">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer3.smartcash.cc/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="smartcash"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.work" password="22" hostname="pool-asia.smartcash.cc" port="3333"/>
		</cryptoСoin>

		<!--NeoScrypt-->

		<cryptoСoin name="nyx" usePow="32" blocktime="120" algorithm="NeoScrypt" blockreward="2">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.muncoin.info/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.HandWrittenExchangeRateGetter, Crypto.Exchange">
				<params>
					<add key="Value" value="0.00011402"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>
<!--Долго регать пул-->
		<!--<cryptoСoin name="GoByte" usePow="32" blocktime="155" algorithm="NeoScrypt" blockreward="7.5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://gobyte.ezmine.io/api/getmininginfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;: )(.*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="gobyte"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>-->
<!--плохой пул-->
		<!--<cryptoСoin name="Innova" usePow="32" blocktime="120" algorithm="NeoScrypt" blockreward="10">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.innovacoin.info/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="innova"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.work" password="22" hostname="stratum.aikapool.com" port="7609"/>
		</cryptoСoin>-->

		<!--ПРОВЕРИТЬ-->
		<!--<cryptoСoin name="QBIC" usePow="11" blocktime="120" algorithm="NeoScrypt" blockreward="10">
		<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
			<params>
				<add key="difficultyUrl" value="http://139.59.131.248:3001/ext/summary"/>
				<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)"/>
			</params>
		</explorerConfig>
		<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
			<params>
				<add key="CryptoName" value="qbic"/>
			</params>
		</exchangeGetterConfig>
	</cryptoСoin>-->

		<cryptoСoin name="Sparks" usePow="32" blocktime="120" algorithm="NeoScrypt" blockreward="9">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://spk.explorerz.top:3019/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="sparks"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Feathercoin" usePow="32" blocktime="72" algorithm="NeoScrypt" blockreward="40">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.feathercoin.com/chain/Feathercoin"/>
					<add key="difficultyRegex" value="(?&lt;=&lt;td align=right&gt;)([0-9.]*)(?=&lt;\/td&gt;&lt;td align=right class=last&gt;)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="feathercoin"/>
				</params>
			</exchangeGetterConfig>
			<pool username="cryptopor.crypb" password="22" hostname="hub.miningpoolhub.com" port="20510"/>
		</cryptoСoin>

		<cryptoСoin name="Orbitcoin" usePow="32" blocktime="180" algorithm="NeoScrypt" blockreward="1">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://atlas.phoenixcoin.org:1080/chain/Orbitcoin"/>
					<add key="difficultyRegex" value="(?&lt;=&lt;td&gt;)([0-9.]*)(?=&lt;\/td&gt;&lt;td&gt;[0-9.]*&lt;\/td&gt;&lt;\/tr&gt;)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="orbitcoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>
		<cryptoСoin name="Phoenixcoin" usePow="32" blocktime="80" algorithm="NeoScrypt" blockreward="25">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://atlas.phoenixcoin.org:1080/chain/Phoenixcoin"/>
					<add key="difficultyRegex" value="(?&lt;=&lt;td&gt;)([0-9.]*)(?=&lt;\/td&gt;&lt;td&gt;[0-9.]*&lt;\/td&gt;&lt;\/tr&gt;)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="phoenixcoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>
		<cryptoСoin name="Vivo" usePow="32" blocktime="128" algorithm="NeoScrypt" blockreward="5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/vivo/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="vivo"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="CrowdCoin" usePow="32" blocktime="125" algorithm="NeoScrypt" blockreward="10">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://94.130.35.230:3001/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="crowdcoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--Scrypt-->

		<cryptoСoin name="Pink" usePow="32" blocktime="30" algorithm="Scrypt" blockreward="50">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/pink/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="pinkcoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Belacoin" usePow="32" blocktime="118" algorithm="Scrypt" blockreward="25">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/bela/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="belacoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Doge" usePow="32" blocktime="62" algorithm="Scrypt" blockreward="10000">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://dogechain.info/chain/Dogecoin/q/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="dogecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Litecoin" usePow="32" blocktime="138" algorithm="Scrypt" blockreward="25">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/ltc/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="litecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Megacoin" usePow="32" blocktime="150" algorithm="Scrypt" blockreward="6.25">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/mec/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="megacoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="MoonCoin" usePow="32" blocktime="332" algorithm="Scrypt" blockreward="16414">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/moon/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="mooncoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Einsteinium" usePow="32" blocktime="60" algorithm="Scrypt" blockreward="4">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/emc2/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="einsteinium"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="FlorinCoin" usePow="32" blocktime="49" algorithm="Scrypt" blockreward="12.5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://florincoin.info/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="florincoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="IgnitionCoin" usePow="30" blocktime="120" algorithm="Scrypt" blockreward="3.4">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.ignitioncoin.org/api/getdifficulty "/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="ignition"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--<cryptoСoin name="Litkoin" usePow="30" blocktime="30" algorithm="Scrypt" blockreward="2500">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://litkoin.me/api/getdifficulty "/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="!!!!!!!ТУТCrypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="ignition"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>-->
		
		
		

		<!--Sha256-->

		<cryptoСoin name="TerraCoin" usePow="32" blocktime="120" algorithm="Sha256" blockreward="4.5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://insight.terracoin.io/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="terracoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="JouleCoin" usePow="32" blocktime="45" algorithm="Sha256" blockreward="4">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/xjo/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="joulecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="LeaCoin" usePow="31" blocktime="30" algorithm="Sha256" blockreward="200">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://explorer.leacoin.org/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="leacoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="MazaCoin" usePow="32" blocktime="128" algorithm="Sha256" blockreward="1000">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://mazacha.in/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="mazacoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Crown" usePow="32" blocktime="64" algorithm="Sha256" blockreward="3.6">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/crw/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="crown"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--Skunk-->

		<cryptoСoin name="MunCoin" usePow="32" blocktime="150" algorithm="Skunk" blockreward="10">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.muncoin.info/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinExchangeIoExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoId" value="687"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.work" password="22" hostname="stratum.aikapool.com" port="7614"/>
		</cryptoСoin>

		<!--X11-->
		<cryptoСoin name="Errylium" usePow="30" blocktime="180" algorithm="X11" blockreward="100">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/ery/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="eryllium"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.work" password="22" hostname="stratum.aikapool.com" port="7631"/>

		</cryptoСoin>

		<cryptoСoin name="EuropeCoin" usePow="32" blocktime="300" algorithm="X11" blockreward="1">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/erc/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="europecoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Dash" usePow="32" blocktime="156" algorithm="X11" blockreward="1.672799094127447">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://insight.dash.org/insight-api-dash/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=&quot;difficulty&quot;:)([0-9.]*)(?=,)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="dash"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Prime-xi" usePow="30" blocktime="26" algorithm="X11" blockreward="5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/pxi/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="prime-xi"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<cryptoСoin name="Monoeci" usePow="32" blocktime="120" algorithm="X11" blockreward="5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://block.monacocoin.net:8080/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="monacocoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--убрали для тестового режима-->
		<!--<cryptoСoin name="Zozocoin" usePow="32" blocktime="350" algorithm="X11" blockreward="20">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://165.227.183.190:3001/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="zozocoin"/>
				</params>
			</exchangeGetterConfig>
			<pool username="crypb.lol" password="22" hostname="stratum-zzc.multipools.club" port="11113"/>
		</cryptoСoin>-->

		<cryptoСoin name="kzc" usePow="32" blocktime="156" algorithm="X11" blockreward="2.25">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chain.kzcash.kz/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="kzcash"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--<cryptoСoin name="ChainCoin" usePow="32" blocktime="90" algorithm="X11" blockreward="8">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://104.238.153.140:3001/api/getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="chaincoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>-->

		<cryptoСoin name="StartCoin" usePow="32" blocktime="62" algorithm="X11" blockreward="5">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://explorer.startcoin.org/api/status?q=getInfo"/>
					<add key="difficultyRegex" value="(?&lt;=\&quot;difficulty\&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="startcoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

				<cryptoСoin name="Pura" usePow="30.6" blocktime="150" algorithm="X11" blockreward="10">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://chainz.cryptoid.info/pura/api.dws?q=getdifficulty"/>
					<add key="difficultyRegex" value=".*"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="pura"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>

		<!--X13-->
		<cryptoСoin name="HunCoin" usePow="32" blocktime="60" algorithm="X13" blockreward="40">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="http://huncoin.explorer.web.za/ext/summary"/>
					<add key="difficultyRegex" value="(?&lt;=\&quot;difficulty\&quot;:)([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="huncoin"/>
				</params>
			</exchangeGetterConfig>
		</cryptoСoin>
		
		<!--CryptoNightv7-->
		<cryptoСoin name="Monero" usePow="0" blocktime="120" algorithm="CryptoNightV7" blockreward="4.8">
			<explorerConfig type="Crypto.ExplorerParser.RegexExplorerParser, Crypto.ExplorerParser">
				<params>
					<add key="difficultyUrl" value="https://moneroexplorer.pro"/>
					<add key="difficultyRegex" value="(?&lt;=Network difficulty: )([0-9.]*)"/>
				</params>
			</explorerConfig>
			<exchangeGetterConfig type="Crypto.Exchange.CoinMarketCapExRateGetter, Crypto.Exchange">
				<params>
					<add key="CryptoName" value="monero"/>
				</params>
			</exchangeGetterConfig>
			<pool username="cryptopor.crypb" password="22" hostname="us-east.cryptonight-hub.miningpoolhub.com" port="20580"/>
		</cryptoСoin>
	</cryptoСoins>


</CoinsConfiguration>